<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <nav class="navbar">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        {% if page.language == "es" %}
          <a class="navbar-brand" href="{{ site.url }}"><h1>{{ site.title }}</h1></a>
        {% else %}
          <a class="navbar-brand" href="{{ site.url }}/en"><h1>{{ site.title }}</h1></a>
        {% endif %}
      </div>

      <div class="lang-selector">
        <ul class="nav navbar-nav">
          {% if page.language == "es" %}
          <li><a class="active" href="{{ site.url }}" title="Español">ES</a></li>
          <li><a href="{{ site.url }}/en" title="English">EN</a></li>
          {% else %}
          <li><a href="{{ site.url }}" title="Español">ES</a></li>
          <li><a class="active" href="{{ site.url }}/en" title="English">EN</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>

    <main class="main">
      {{ content }}
    </main>

    {% if page.language == "es" %}
    {% include footer.md %}
    {% else %}
    {% include footer.en.md %}
    {% endif %}

  </body>
</html>
